#pip install -r requirements.txt

pypdf
langchain_community
wikipedia
langchain_text_splitters 
nltk
tiktoken
transformers
langchain_google_genai
langchain_huggingface
sentence-transformers
faiss-cpu
langchain-chroma
langchain
streamlit
